
/*All*/

.not_main_section{
    display:flex;
    position:relative;
    height:30em;
    background-color: black;
    margin-top: 10px;
    padding:5%;
    
}


    /*want first line from paragraphs to have a top gap from header*/
.line1{

    margin-top: 3em;
}

.section-text h1,p{

    color: white;
}

h1{
    font-size: xx-large;
}
p{
    font-size:x-large;
}
/*All*/


/*cross section 1,3*/

    /*use flex grow to fill remaining space*/
#media-block-1,#media-block-3{
    
    position:relative;
    margin: 5%;
    flex-grow: 1;
    
    
   }

/*SOS video size is larger than its content*/
#video1{
    width:80%;
    height:100%;
    margin-left: 5%;

}

#video3{
    width:50%;
    height:60%;
    margin-bottom: 5%;
    margin-left: 25%;

}

#img1,#img3{
       
   position:absolute;
   width:100%;
    height:100%;
     
 }

 .section-img{


    width:50%;
 }

 /*cross section 1,3*/

/*main*/
/*must fix further rensponsive text-alignment*/
#main_section{
    display: block;
    background-image: url('background.jpg');
    height:50em;
}

#main_text{
    color:white;
    margin:15%;
    
}

#main_par>header{
    font-size: 50px;
    font-weight: bolder;
}



.main-padding-content-form{
    padding-left: 10%;
    padding-top: 10%;
}

.main-padding-content-2{
    padding-left: 10%;
}

.main-padding-content-1{
    padding-left: 23%;
}
 form #Email-Address{
    height:50px;/*default height 15*/
    width:min(100%,500px);
    border: whitesmoke;
    font-size: medium;
    font-weight: bold;
}
/*On 1070 width button gets down from form*/
form #button{
height:50px;/*default height 15*/
width:160px;
color: white;
background-color: red;
border: red;
font-size: medium;
font-weight: bold;
}

/*main*/
#main_section>#corner-buttons{
    float:right;
}

#logo{

    width:200px;
    height:100px;
}

select{
    border-style: solid groove;
    height:30px;

}

/*See if i can set better sign in button */
#Sign{/*Set sign in button*/
   
    height:30px;
    width : 70px;
   
    background-color: red;
    border-radius: 5px;
    border:red;

       
}
/*main*/

/*section4*/

#section4{
    display:flex;
   flex-direction: column;
   height:max-content;
}
.flex-item-1{
    color:white;
}

.flex-item-2{
    flex-grow: 5;
    padding-left: 2%;
}

.flex-item-3{
    flex-shrink: 8;
    margin-left: 10%;
}
/*at 540 width font size must decrease*/
.flex-item-2>ul>li>input{
    color:white;
    background-color: gray;
    font-weight: bolder;
    font-size: 45px;
    width:100%;
    height:50px;
}



    /*toggle buttons*/
    /*see handler script toggle removes hidden class,adds if does not exist*/
   .hidden-item-1,.hidden-item-2,.hidden-item-3,.hidden-item-4,.hidden-item-5{
       
       display:none
       
   }

   .visible-item-1,.visible-item-2,.visible-item-3,.visible-item-4,.visible-item-5{
    
    color:white;
    background-color: grey;

   }

   .hidden-item>p{
    padding:0px;

   }

/*section4*/
/*footer*/
/*Below 415 width screen size change footer list to grid element*/
footer{
    background-color: grey;
    height:30em;

}

footer>div{
    margin-left: 5em;
}

footer ul{
    display:inline-block;
}
/*cannot implement padding breaks ul's alignment wtf*/
footer ul li{
    list-style: none;
   
}

/*hide unusable last elements without hiding netflix oringinals tag(first)*/
footer ul:not(:first-child)>li:last-child{
    visibility: hidden;
}

#footer-list{
    
    margin:8%;
}

footer>h5,#footlang{
    display:inline-block;
    margin-left:0px;
    padding-left: 2%;
}
/*footer*/



@media  (max-width:700px){
    .not_main_section{
        flex-direction: column;
        padding-top:5%;
    }

    .not_main_section>div{
        margin-top:2%
    }

    #img2{

        width:400px;
        height:400px;
        margin-left: 10%;
    }
    .line1{
        margin-top:5px;
    }
    p{
        margin:2%;
        font-size: medium;
        padding-left: 10%;
    }
    #media-block-1,#media-block-3{
        flex-grow: 1;
        
    }

    #img1,#img3{
        width:80%;
        height:75%;
    }

    #video1{
        width:80%;
        height:70%;
        margin-left: 0%;

    }
    #video3{
        width:30%;
        height:38%;
        margin-left: 25%;
        margin-top: 5%;
        

    }

   

    
}

@media  (max-width:1070px){
    form #button{
        margin-top:5%;
        margin-left: 20%;
       
    }
}
@media (max-width:800px){
    .flex-item-2>ul>li>input{

        font-size: 150%;
    }

    form #button{
        margin-top:5%;
        margin-left: 30%;
       
    }
}
@media  (max-width:540px){
    /*img2 adjustment as screen decreases avoiding overflow*/
    #img2{
        width:50%;
        height:50%;
        margin-left: 15%;
    }

    .flex-item-2>ul>li>input{

        font-size: 95%;
    }

    form #button{
        margin-top:5%;
        margin-left: 0%;
       
    }
    
}

@media  (max-width:415px){

   
    footer{
        height:max-content;
    }
    footer>h3{
        margin:0px;
    }
    #footer-list{
        display:grid;
        grid-template-columns: max(50%,130px) max(30%,130px);
        grid-template-rows:max(50%,150px) max(50%,150px); 
        column-gap: 5px;
        row-gap: 5px;
        margin: 0px;
        
        
    }
    #footer-list>ul{
        padding-left: 3px;
    }

    #footer-list>ul>li{
        padding-top: 3px;
    }

   

}




@media  (max-width:315px){
    #footer-list{
        grid-template-columns: 100px;
        grid-template-rows:min-content min-content min-content min-content; 


    }

}