/* background-image:url(background.jpg);*/
/*must fix gap between sections*/
 #main_section{
     display: block;
     background-image: url('background.jpg');
     height:50em;
 }
.not_main_section{
    display:block;
    position:relative;
    height:30em;
    background-color: black;
    margin-top: 10px;
    


}

.section-text{
    position:relative;
    top:5em;
    
    height:50%;
}

footer{
    background-color: grey;
    height:30em;

}


.section-text h1,p{

    color: white;
}

h1{
    font-size: xx-large;
}
p{
    font-size:x-large;
}

/*want first line from paragraphs to have a top gap from header*/
.line1{
    margin-top: 3em;

}




/*Setting basic config for media section1,3*/
/*for rensponsive purposes*/
 #media-block-1,#media-block-3{
    float:right;
    position:relative;
    width:70%;
    height:70%;
    
   }
   #video1,#video3{
       
      position:absolute;
      padding-left: 10em;;
      

      
       
   }
  
   #img1,#img3{
     
       position:absolute;
       padding-left: 9.7em;
   
       
       
   }








/*position text blocks*/

/*main*/

#main_section>#corner-buttons{
    float:right;
}

#logo{

    width:200px;
    height:100px;
}

select{
    border-style: solid groove;
    height:30px;

}

/*See if i can set better sign in button */
#Sign{/*Set sign in button*/
   
    height:30px;
    width : 70px;
   
    background-color: red;
    border-radius: 5px;
    border:red;

       
}
/*Section 1*/
/*need to fix a little bit size of video1*/
 #img1{
       width:70%;
       height: 80%;


   }
   #video1{
    width:70%;
    height: 80%;

   }
}

/*Section 2*/
#img2{

    float:left;
}

/*Section 3*/
/*must position it better to bottom*/
/*See above -> floated video to right and after positioning img to adjust*/

#img3{
    height:100%;
    width:50%;

}
    #video3{
        height:50%;
        width:32%;
        margin-left: 8%;
        margin-top: 3%;


        }

/*footer*/

footer>div{
    margin-left: 5em;
}

table{
    margin-top:5em;
    margin-right:15em ;
}

/*see if can fix better footer table*/
td{
    text-align: center;
}
